@font-face {
    font-family: "Poppins";
    src: url('font/Poppins/Poppins-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background-image: url('/images/fond_station.svg');
    font-family: Poppins;
}
main{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}
nav{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    border-top: solid white 3px;
}
nav img{
    height: 30px;
    margin-right: 10px;
}
nav h2{
    color: white;
}

.corp{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.corp section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 30px 0;
    border-radius: 30px;
    width: 25%;
    border: double #0271a9 4px ;
}
.corp section h2{
    border-bottom: solid 2px;
    margin-bottom: 0;
    text-align: center;
}
.corp section ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    height: 100%;
}
section ul{
    padding: 0 0 0 50px;
}
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
}

.premier{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}
.deuxieme{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}
.deuxieme img{
    height: 90%;
}
.capture{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99%;
    width: 50%;
}
.capture p{
    font-size: 20px;
    text-align: center;
    margin: 0;
}
nav section{
    height: 40%;
    background-color: #0271a9;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 15px 0 0 0;
}
.lien{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
.lien a:hover{
    background-color: white;
    border-radius: 30px;
    color: #0271a9;
    padding: 0 5px;
}
#actif{
    background-color: white;
    border-radius: 30px;
    color: #0271a9;
    padding: 0 5px;
}
#P{
    height: 40%;
}
#open{
    background-color: #0271a9;
}
.nom{
    color: white;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .deuxieme img{
        height: 70%;
    }
    .corp section ul{
        font-size: 16px;
    }
}

@media screen and (max-width: 1065px) {
    .deuxieme img{
        height: 60%;
    }
    .corp section ul{
        font-size: 14px;
    }
    .corp section h2{
        font-size: 20px;
    }
    #open{
        padding: 0;
    }
}

@media screen and (max-width: 875px) {
    .deuxieme{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .deuxieme img{
        height: 300px;
        margin-top: 10px;
    }
    section ul{
        padding: 0 0 0 30px;
    }
}

@media screen and (max-width: 750px) {
    .premier{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .corp section{
        margin: 20px 0;
        width: 60%;
    }
    .deuxieme img{
        height: 250px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    .corp section{
        width: 80%;
    }
    .deuxieme img{
        height: 200px;
        margin-top: 10px;
    }
}

/*--------------------- nav --------------------------------------------*/

@media screen and (max-width: 1080px) {
    .nom{
        display: none;
    }
}

@media screen and (max-width: 875px) {
    nav section{
        height: 60%;
        flex-direction: column;
        padding: 15px 0 0 20px;
    }
    .nom{
        display: block;
    }
}